.qna-detail-container {
    display: flex;
    flex-direction: column;
}

.qna-detail-q-container {
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}

.qna-detail-q-container>.title {
    width: 100%;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    border-bottom: 1px solid #eee;
}

.qna-info {
    display: flex;
    justify-content: end;
    align-items: center;
}

.qna-info>.author {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

.qna-info>.author>.img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 14px;
}

.qna-info>.author>.img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.qna-detail-container>.answer {
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    border-bottom: 1px solid #eee;
}

.question-num {
    margin-top: 10px;
    margin-left: 25px;
}

@media screen and (max-width: 768px) {
    .qna-detail-q-container > .title { font-size: 26px; text-align: center; }
    .detail-page-user-container > .author { padding: 14px 0; }
    .qna-detail-container > .answer { padding: 0px 10px; margin: 10px 0px; }
}

@media screen and (max-width: 540px) {
    .qna-detail-q-container { margin: 10px 4px; padding: 20px 14px; }
    .qna-detail-q-container > .title { font-size: 22px; text-align: center; }
    .detail-page-user-container > .author { padding: 10px 0; }
}